<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../../../resources/css/registration.css" rel="stylesheet" type="text/css">
    <script src="../../../resources/js/jquery-1.12.2.js"></script>
    <script src="../../../resources/js/jquery.popupoverlay.js"></script>
    <script src="../../../resources/js/core.js"></script>
    <script src="../../../resources/js/sha3.js"></script>
    <script src="../../../resources/js/registration.js"></script>
    <title>New user</title>
</head>
<body>
<div id="header">
    <span>Orderoverzicht</span>
    <span>Maak template</span>
    <span>Template overzicht</span>
    <span>Welkom Bob van Holland</span>
    <span>logout</span>
</div>
<div id="content-wrapper">
    <div id="popup_ok">
        <div id="left_side"><img src="../../../resources/images/templates/ok-icon.png"></div>
        <div id="right_side"><p>User registered!!!</p></div>
    </div>
    <div id="popup_error">
        <div id="left_side_error"><img src="../../../resources/images/templates/error-icon.png"></div>
        <div id="right_side_error"><p>Oops.. something wrong=/</p></div>
    </div>
    <div id="content">
        <table id="register_form">
            <caption id="form_name">New user</caption>
            <tr><td><table>
                <tr>
                    <td class="w">
                        <img class="check" id="check1" src="../../../resources/images/templates/check-icon.png">
                        <img class="warn" id="warn1" src="../../../resources/images/templates/warn-icon.png">
                    </td>
                    <td colspan="2">

                        <label class="inline" id="for_mail" for="email">Email</label><input id="email" type="email">
                    </td>
                </tr>
                <tr>
                    <td class="w">
                        <img class="check" id="check2" src="../../../resources/images/templates/check-icon.png">
                        <img class="warn" id="warn2" src="../../../resources/images/templates/warn-icon.png">
                    </td>
                    <td>
                        <label class="inline" id="for_name" for="name">Name</label><input id="name" type="text">
                    </td>
                    <td id="inline">
                        <div class="role">
                            <input id='role' type="checkbox">
                        </div>
                        <div id="label"><label id="for_role">Admin</label></div>
                    </td>
                </tr>
                <tr>
                    <td class="w">
                        <img class="warn" id="warn3" src="../../../resources/images/templates/warn-icon.png">
                        <img class="check" id="check3" src="../../../resources/images/templates/check-icon.png">
                    </td>
                    <td colspan="2">
                        <label class="inline" id="for_password" for="password">Password</label><input id="password" type="password">
                    </td>
                </tr>
                <tr>
                    <td colspan="3" class="center">
                        <button id="register" disabled="disabled">Submit</button>
                    </td>
                </tr>
            </table></td></tr>
        </table>
    </div>
</div>

</body>
</html>