<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../../../resources/css/main.css" rel="stylesheet" type="text/css">
    <link href="../../../resources/css/templateOverview.css" rel="stylesheet" type="text/css">
    <script src="../../../resources/js/jquery-1.12.2.js"></script>
    <script src="../../../resources/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../../resources/css/jquery.dataTables.min.css">
    <title>Template Overview</title>
    <script>
        $(document).ready(function() {
            var data = [
                {'w':1,'name': "<a id='row1'>NSA</a>", 'action':"<button value='row1' class='del'></button>"},
                {'w':2, 'name': "<a id='row2'>Template X</a>", 'action':"<button value='row2' class='del'></button>"},
                {'w':3, 'name': 'Template Y', 'action':"<button value='row3' class='del'></button>"},
                {'w':7, 'name': 'Template Z', 'action':"<button value='row4' class='del'></button>"}
            ];
            $('#example').DataTable({
                /*'ajax': data,*/
                'data':data,
                'columns': [
                    {'data':'w'},
                    {'data': 'name'},
                    {'data': 'action'}
                ]
            });
            $('.del').each(function(){
                $(this).click(function(e){
                    /*console.log($('#'+e.toElement.value).text());*/
                    var template_name = $('#'+e.toElement.value).text();
                    /*$('#'+e.toElement.value).detach();*/

                    /*$('.number').each(function(){
                     $(this).text(i++);
                     });*/
                })
            });
        });

    </script>
</head>
<body>
<div id="header">
    <span>Orderoverzicht</span>
    <span>Maak template</span>
    <span>Template overzicht</span>
    <span>Welkom Bob van Holland</span>
    <span>logout</span>
</div>
<div id="content-wrapper">
    <div id="content">
        <div id="title_banner"><p>Template Overview</p></div>
        <div id="content_place">
            <div id="template_overview">
                <table id="example" class="display" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--<tr>
                        <td class="number"><input type="hidden" value="1">1</td>
                        <td id="row1">NSA</td>
                        <td ><button class="del" value="row1">Delete</button></td>
                    </tr>
                    <tr>
                        <td class="number"><input type="hidden" value="2">2</td>
                        <td id="row2"><a>Template X</a></td>
                        <td><button class="del" value="row2">Delete</button></td>
                    </tr>-->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>