<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../../../resources/css/main.css" rel="stylesheet" type="text/css">
    <link href="../../../resources/css/templateOverview.css" rel="stylesheet" type="text/css">
    <script src="../../../resources/js/jquery-1.12.2.js"></script>
    <script src="../../../resources/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../../resources/css/jquery.dataTables.min.css">
    <title>Template Overview</title>
    <script>
        $(document).ready(function() {
            $('#example').DataTable();
        } );
    </script>
</head>
<body>
<div id="header">
    <span>Orderoverzicht</span>
    <span>Maak template</span>
    <span>Template overzicht</span>
    <span>Welkom Bob van Holland</span>
    <span>logout</span>
</div>
<div id="content-wrapper">
    <div id="content">
        <div id="title_banner"><p>Template Overview</p></div>
        <div id="content_place">
            <div id="template_overview">
                <table id="example" class="display" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Template Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>NSA</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td><a>Template X</a></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Template Y</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Template Z</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Accountant</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Integration Specialist</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>Sales Assistant</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>Integration Specialist</td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>Javascript Developer</td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>Software Engineer</td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>Office Manager</td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>Support Lead</td>
                    </tr>
                    <tr>
                        <td>13</td>
                        <td>Regional Director</td>
                    </tr>
                    <tr>
                        <td>14</td>
                        <td>Senior Marketing Designer</td>
                    </tr>
                    <tr>
                        <td>15</td>
                        <td>Regional Director</td>
                    </tr>
                    <tr>
                        <td>16</td>
                        <td>Marketing Designer</td>
                    </tr>
                    <tr>
                        <td>17</td>
                        <td>Chief Financial Officer (CFO)</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

</body>
</html>