<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="../../../resources/css/templates.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="C:\Users\ffw_ATL\IdeaProjects\Test_SpringMVC\src\main\webapp\resources\css\style.css" type="text/css" />
    <script src="../../../resources/js/jquery-1.12.2.js"></script>
    <script src="../../../resources/js/template.js"></script>
</head>
<body>
<div id="header">
    <span>Orderoverzicht</span>
    <span>Maak template</span>
    <span>Template overzicht</span>
    <span>Welkom Bob van Holland</span>
    <span>logout</span>
</div>
<div id="content-wrapper">
    <div id="content">
        <div id="container">

            <div id="main_screen" class="foo">
                <table class="middle" id="table_header"><tr><th colspan="2">Form Controls</th><th id="prev">Form Preview</th></tr></table>
                <!--<hr>-->

                <div id="battlefield">

                </div>
            </div>
            <!--table class="middle"><tr><td><button disabled="disabled" id="add_new">+</button></td></tr></table>
            <div id="save_form"><button id="save" disabled="disabled">Save</button></div>-->
        </div>
    </div>
</div>

    <footer></footer>

</body>
</html>