<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="../../../resources/css/templates.css" rel="stylesheet" type="text/css">
    <link href="../../../resources/css/main.css" rel="stylesheet" type="text/css">
    <script src="../../../resources/js/jquery-1.12.2.js"></script>
    <script src="../../../resources/js/jquery.popupoverlay.js"></script>
    <script src="../../../resources/js/template.js"></script>
</head>
<body>
<div id="header">
    <span>Orderoverzicht</span>
    <span>Maak template</span>
    <span>Template overzicht</span>
    <span>Welkom Bob van Holland</span>
    <span>logout</span>
</div>
<div id="content-wrapper">
    <div id="content">
        <div id="my_popup" style="background-color: #FAFAFA">
            <div class="hd"></div><table class="inputTable"><tr><td><textarea id="popup_area" class="popup_area" rows="8" cols="35" placeholder="Field description"></textarea></td></tr></table>
            <br><br>
            <ul>
                <li><button class="my_popup_close">Close</button></li>
                <li class="right_li"><button disabled class="my_popup_close" id="add_to_form">Add to Form</button></li>
            </ul>
        </div>
        <div id="edit_popup" style="background-color: white">
            <div class="hd">Edit Element</div><table class="inputTable"><tr><td><textarea id="edit_area" rows="8" cols="35" placeholder="Field description"></textarea></td></tr></table>
            <br><br>
            <ul>
                <li><button class="edit_popup_close">Close</button></li>
                <li class="right_li"><button class="edit_popup_close" id="accept">Accept</button></li>
            </ul>
        </div>
        <div id="popup_ok">
            <div id="left_side"><img src="../../../resources/images/templates/ok-icon.png"></div>
            <div id="right_side"><p>Template added!!!</p></div>
        </div>
        <div id="popup_error">
            <div id="left_side_error"><img src="../../../resources/images/templates/error-icon.png"></div>
            <div id="right_side_error"><p>Oops.. something wrong=/</p></div>
        </div>

        <div id="container">
            <div id="main_screen" class="foo">
                <table id="main_table">
                    <tr><td colspan="2"><div class="hd_main">
                        <table class="middle" id="title">
                            <tr><td><input id="template_name" placeholder="Template name" type="text"></td></tr>
                        </table>
                    </div></td> </tr>
                    <tr><th id="first_th">Form Controls</th><th id="second_th">Form Preview Area</th></tr>
                    <tr>
                        <td id="left">
                            <table id="shit">
                                <tr class="show">
                                    <td>
                                        <input class="form_controls" placeholder="Text Field" readonly type="text">
                                    </td>
                                    <td>
                                        <button id="text_field" class="my_popup_open"></button>
                                    </td>
                                </tr>
                                <tr class="show">
                                    <td>
                                        <label id="check_box_field_label">Check Box
                                            <input class="form_controls" type="checkbox" checked>
                                        </label>
                                    </td>
                                    <td>
                                        <button id="check_box" class="my_popup_open"></button>
                                    </td>
                                </tr>
                                <tr class="show">
                                    <td>
                                        <textarea id="text_area_form_controls" cols="19" rows="3" placeholder="Text Area" readonly></textarea>
                                    </td>
                                    <td>
                                        <button id="text_area" class="my_popup_open"></button>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td id="prev"><div id="auto_scroll"><table class="prev"></table></div></td>
                    </tr>
                    <tr><td></td><td>
                        <ul id="footer_list">
                            <li><button id="edit_button" disabled>Edit Form</button></li>
                            <li><button id="save_button" disabled>Save Form</button></li>
                        </ul></td></tr>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>