body {
    -webkit-font-smoothing: antialiased;
    font-family: 'Helvetica Neue', sans-serif;
    text-rendering: optimizeLegibility;
}
html, body {
    background: #B7B6B8;
    margin: 0;
    padding: 0;
}
#header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    background: linear-gradient(to top, #000000, #3A393B);
    z-index: 0;
    color: white;
}
#content-wrapper {
    height: calc(100% - 20px);
    min-height: 650px;
    max-height: 650px;
    min-width: 890px;
    background: linear-gradient(to bottom, #3A393B, #696969 10%, #B7B6B8 100%, #B7B6B8 100%);
    padding: 50px 50px 0 50px;
}
#content {
	padding: 8px 2px 8px 1px;
    border-radius: 2px;
    height: 95%;
    background: #FFFFFF
}
a:link, a:visited {
    text-decoration: none;
    display: inline-block;
}
a div, a:visited, a:link, a:visited  {
     color: white;
 }
#header a{
    margin-top: 15px;
}
#header span {
    margin: 20px;
}
.left {
    text-align: left;
}