html {
    overflow-y: scroll;
}

body.menu-on {
    overflow-y: scroll;
}

a,
a:hover ,
a:visited {
    text-decoration: none;
}

html {
    height: 100%;
    width: 100%;
}

body {
    padding: 0;
    margin: 0;
    font-size: 14px !important;
    height: 100%;
    width: 100%;
}

ul {
    padding: 0;
}

/************************************ ID's ***********************************************/
#content-wrapper {
    overflow: hidden;
    top: 0;
    left: 0;
    transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transition-duration: 0.7s;
    -webkit-transition-duration: 0.7s;
    -moz-transition-duration: 0.7s;
    -o-transition-duration: 0.7s;
    -ms-transition-duration: 0.7s;
}

#left-menu {
    z-index: 50;
    background-color: rgba(36, 36, 34, 0.9);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    transition-duration: 0.7s;
    -webkit-transition-duration: 0.7s;
    -moz-transition-duration: 0.7s;
    -o-transition-duration: 0.7s;
    -ms-transition-duration: 0.7s;
    opacity: 0;
    transition-property: opacity, visibility;
    -moz-transition-property: opacity, visibility;
    -webkit-transition-property: opacity, visibility;
    -o-transition-property: opacity, visibility;
    -ms-transition-property: opacity, visibility;
    transition-timing-function: linear;
    -webkit-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    -ms-transition-tomong-function: linear;
    visibility: hidden;
}

#left-menu .button {
    line-height: 40px;
    margin: 0;
}

#left-menu .logo {
    font-size: 30px;
}

#left-menu .logo {
    position: relative;
    padding-left: 3vw;
    top: 5vh;
}

#left-menu .left-part-conatainer {
    display: table;
    float: left;
    height: 100%;
}

#right-menu {
    z-index: 75;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transition-duration: 0.7s;
    -webkit-transition-duration: 0.7s;
    -moz-transition-duration: 0.7s;
    -o-transition-duration: 0.7s;
    -ms-transition-duration: 0.7s;
    background-color: #011B39;
    position: fixed;
    height: 100%;
    top: 0;
    right: 0;
    padding: 0 3vw;
}

#right-menu .sitemap {
    right: 3vw;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    max-height: 90%;
    overflow: hidden;
}

#right-menu .sitemap ul li {
    text-align: left;
    display: block;
}

/************************************ Classes ***********************************************/
.button {
    padding: 0;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: 700;
    height: 40px;
    line-height: 40px;
    margin: 3px auto;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: 150pt;

    background-color: rgba(255, 255, 255, 0.2);
    background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
    background-image: -moz-linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
    background-image: -o-linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
    background-image: -ms-linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
    background-position: 0 -40px;
    background-repeat: no-repeat;
    transition-property: all;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    -ms-transition-property: all;
    transition-duration: 0.7s;
    -webkit-transition-duration: 0.7s;
    -moz-transition-duration: 0.7s;
    -o-transition-duration: 0.7s;
    -ms-transition-duration: 0.7s;

    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font-size: 14px;
}

.button:hover {
    background-position: 0, 0;
    color: #000000;
}

.left-part {
    position: absolute;
    display: table-cell;
    vertical-align: middle;
    padding-left: 3vw;
    bottom: 15vh;
    color: #000000;
}

.menu-toggle {
    position: fixed;
    top: 10px;
    right: 2vw;
    margin-right: 24px;
    z-index: 150;
}

body.menu-on .menu-toggle .bar {
    background: white;
}

@media screen {
    #right-menu {
        width: 330px;
    }

    .menu-item a {
        color: #FFFFFF;
    }

    .menu-toggle {
        margin-right: 30px;
    }

    .logo,
    .left-part {
        margin-left: 30px;
    }

    .menu-toggle .bar {
        transform-origin: 2px 50%;
        -webkit-transform-origin: 2px 50%;
        -moz-transform-origin: 2px 50%;
        -o-transform-origin: 2px 50%;
        -ms-transform-origin: 2px 50%;
        position: relative;
        display: block;
        width: 32px;
        height: 4px;
        line-height: 1px;
        background: white;
        margin: 6px 0;
        transition-duration: 0.3s, 0.3s, 0.5s;
        -webkit-transition-duration: 0.3s, 0.3s, 0.5s;
        -moz-transition-duration: 0.3s, 0.3s, 0.5s;
        -o-transition-duration: 0.3s, 0.3s, 0.5s;
        -ms-transition-duration: 0.3s, 0.3s, 0.5s;
        transition-property: background, background-color, transform;
        -webkit-transition-property: background, background-color, transform;
        -o-transition-property: background, background-color, transform;
        -moz-transition-property: background, background-color, transform;
        -ms-transition-property: background, background-color, transform;
        transition-timing-function: linear;
        -webkit-transition-timing-function: linear;
        -o-transition-timing-function: linear;
        -moz-transition-timing-function: linear;
        -ms-transition-timing-function: linear;
    }

    .menu-toggle .bar.bar-2 {
        transform-origin: 12px 50%;
        -webkit-transform-origin: 12px 50%;
        -moz-transform-origin: 12px 50%;
        -o-transform-origin: 12px 50%;
        -ms-transform-origin: 12px 50%;
    }

    #right-menu .sitemap {
        margin-right: 50px;
    }

    .menu-item {
        font-size: 20px;
    }
}

/************menu events*******************/
/*body.menu-on {
    overflow-y: scroll;
}*/
/*
body.menu-on::-webkit-scrollbar {
    display: block;
}*/

body.menu-on .menu-toggle .bar.bar-1 {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}

body.menu-on .menu-toggle .bar.bar-2 {
    transform: scale(0.001);
    -webkit-transform: scaleX(0.001);
    -moz-transform: scaleX(0.001);
    -o-transform: scaleX(0.001);
    -ms-transform: scaleX(0.001);
}

body.menu-on .menu-toggle .bar.bar-3 {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
}

body.menu-on #content-wrapper {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -ms-transform: scale(0.8);
}

body.menu-on #left-menu {
    visibility: visible;
    opacity: 1;
}

body.menu-on #right-menu {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
}

/************-menu events*******************/
