#rawtable {
    background: #023672;
    border-radius: 20px;
    width:800px;
    margin:auto;
    border: 1px solid black;
    padding: 20px 5px 20px 5px;
}

#rawtable table {
    border-collapse: collapse;
    width: 600px;
}

#order td{
    border-right: 1px solid black;
    padding: 10px 20px 20px 5px;
    font-size: 14px;
    color: white;
}

#order td:last-child {
    border-right: none;
}

#select-form {
    padding-top: 50px;
    padding-bottom: 20px;
}

#image img {
    background: white;
    border: 3px solid #023672;
    border-radius: 20px;
    padding: 6px;
    vertical-align:middle;
    width:18px;
    height:18px;
    margin-right: 5px;
}

#image {
    text-align:center;
}
