#image img {
    background: white;
    border: 3px solid #023672;
    border-radius: 20px;
    padding: 6px;
    vertical-align:middle;
    width:18px;
    height:18px;
    margin-right: 5px;
}
#image {
    text-align:center;
}
#rawtable {
    border-radius: 2px;
    background: #023672;
    width:800px;
    margin: auto;
    border: 1px solid black;
    padding: 0 5px 0 5px;
}
#rawtable table {
    border-collapse: collapse;
    width: 600px;
}
#order td{
    border-right: 1px solid black;
    padding: 15px 8px 22px 5px;
    font-size: 14px;
    color: white;
}
#order td:nth-child(2),#order td:nth-child(4){
    background-color: #334e72;
}
#order td:nth-child(1),#order td:nth-child(3){
    text-decoration: underline;
}
#order td:last-child {
    border-right: none;
}
#select-form, hr {
    margin-left: auto;
    margin-right: auto;
}
#select-form {
    padding-top: 20px;
    padding-bottom: 5px;
}
#left {
    padding-left: 40px;
}
select{
    height: 25px;
}
#select td{
    padding-bottom: 6px;
}
hr {
    border: 0; height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(77, 77, 89, 0.75), rgba(0,0,0,0));
    background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(77, 77, 89, 0.75), rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(77, 77, 89, 0.75), rgba(0,0,0,0));
    background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(77, 77, 89, 0.75), rgba(0,0,0,0));
    background-image: linear-gradient(left, rgba(0,0,0,0), rgba(77, 77, 89, 0.75), rgba(0,0,0,0));
    width:100%;
}
#hr td{
    float: none;
    padding: 0;
}
#set td{
    padding-top: 15px;
    padding-bottom: 10px;
}
#set td input:hover, #set td button:hover{
    transition: ease-in-out .2s;
    cursor: pointer;
}
#set td input:hover{
    background-color: #73808C;
}
#set td button:hover{
    background-color: #C97777;
}
#set td button{
    float: left;
    text-align: right;
    background: #994343 url("../images/orders/back-icon.svg") no-repeat 3px;
    color: white;
}
#set td input{
    text-align: right;
    background: #34495e url("../images/orders/save-icon.svg") no-repeat 1px;
    float: right;
    color: white;
}
#set td input, #set td button{
    font-weight: bold;
    border-radius: 2px;
    border: none;
    outline: none;
    width: 80px;
    padding: 8px;
}
select, label{
    display: block;
}
#title_banner, #set td{
    text-align: center;
}
#title_banner p{
    font-size: 24px;
    margin: 5px;
    color: #ACADAD;
    font-weight: bold;
}
#title_banner{
    box-shadow: 0 0 2px #4F4F4F;
}
.content-place{
    min-height: 600px;
    box-shadow: 0 1px 2px #4F4F4F;
}
.content-place, #title_banner{
    margin: 0 8px;
    padding: 4px;
}
label{
    font-size: 13px;
    color: #9FAAB5;
}