label{
    font-size: 13px;
    color: #9FAAB5;
}
#popup_ok{
    box-shadow: 0 0 30px #3A4F43;
}
input, input:focus {
    border-radius: 2px;
}
#left_side img, #left_side_error img{
    width: 100px;
    height: 100px;
    margin-top: 25px;
    margin-left: 10px;
}
#form_name{
    box-shadow: 0 0 2px #4F4F4F;
    font-size: 24px;
    font-weight: bold;
    padding-top: 4px;
    padding-bottom: 15px;
    color: #ACADAD;
}
input, .role{
    height: 30px;
}
input {
    font-size: 14px;
    padding: 5px 10px 5px 10px;
    width: 300px;
    border: 1px solid #AAAAB3;
}
button#register, table#register_form, #content{
    border-radius: 2px;
}
button#register{
    font-size: 15px;
    font-weight: bold;
    outline: none;
    background-color: #34495e;
    border: none;
    padding: 10px 15px;;
}
button#register:disabled, button#register:disabled:hover{
    background-color: #73808C;
    color: #EBEEF0;
    box-shadow: 0 0 0;
}
button#register:hover{
    background-color: #73808C;
    transition:.2s ease-in-out;
}
#label, #role{
    padding: 5px;
}
#role{
    margin-top: 10px;
}
.role{
    margin-top: 22px;
}
.role, #label{
    display: inline;
}
#name{
    width: 200px;
}
input#role{
    width: auto;
    height: auto;
}
input:focus{
    transition: all 0.3s;
    outline-color:  #F7EBEB;
    background: #FEFFF0;
}
#email, #password, .inline, #for_name, #name{
    display: block;
}
#register_form table{
    padding: 70px 0;
}
#register_form table, table#register_form {
    margin: 0px auto;
}
#register_form td{
    padding: 6px;
}
.center, #right_side p, #right_side_error p, #title_banner{
    text-align: center;
}
.center button{
    margin-left: 50px;
}
button#register {
    color: white;
}
button#register:hover {
    cursor: pointer;
}
.w{
    width: 24px;
}
.warn, .check{
    display: none;
    margin-top: 15px;
    width: 22px;
    height: 22px;
}
#title_banner p{
    font-size: 24px;
    margin: 5px;
    color: #ACADAD;
    font-weight: bold;
}
#title_banner{
    margin: 0 8px;
    padding: 4px;
    box-shadow: 0 0 2px #4F4F4F;
}
#reg {
    margin: 0 auto;
    width: calc(100% - 16px);
    box-shadow: 0 1px 2px #4F4F4F;
    height: 95%;
}