label{
    font-size: 13px;
    color: #9FAAB5;
}
th{
    background-color: #3D3D3D;
    color: white;
}
#title_banner p{
    font-size: 24px;
    color: #ACADAD;
    font-weight: bold;
}
#content_place span{
    padding-right: 10px;
    text-transform: uppercase;
    color: #5a5a5a;
    font-weight: bold;
}
#content_place p{
    color: #6E6E6E;
}
#content_place p, #title_banner p{
    margin: 5px;
}
#title_banner, #content_place p, .number{
    text-align: center;
}
#content_place{
    box-shadow: 0 1px 2px #4F4F4F;
}
#title_banner{
    box-shadow: 0 0 2px #4F4F4F;
}
#content_place, #title_banner{
    margin: 0 8px;
    padding: 4px;
}
#content_place table{
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}
#content_place table input[type='text'], #content_place table textarea{
    padding: 5px;
    width: 500px;
    max-width: 500px;
}
#info{
    margin-top: 10px;
    background-color: rgba(229, 188, 23, 0.71);
}
#info td:first-child{
    border-right: 1px solid #707070;
}
td.element{
    padding: 10px;
    max-width: 515px;
}
table#template, #info{
    border-radius: 3px;
    border-spacing: 0;
}
table#template td:first-child{
    border-left: solid 1px #CCCCCC;
}
#template tr:first-child th{
    border-top: solid 1px #CCCCCC;
    border-bottom: solid 1px #CCCCCC;
}
table#template td{
    border-bottom: solid 1px #CCCCCC;
    border-right: solid 1px #CCCCCC;
}
table#template tr:nth-child(odd){
    background-color: #FAFAFA;
}
table#template td:first-child{
    background-color: #F5F5F5;
}
.number{
    width: 55px;
}
#content_place table input[type='text'], label, #content_place table textarea{
    display: block;
}
#content_place table input[type='text']{
    height: 20px;
}
textarea{
    outline: none;
}
#content_place table input[type='text'], #content_place table textarea{
    border: solid 1px #ADADAD;
    border-radius: 2px;
    resize: none;
}
#content_place table input[type='checkbox']{
    float: left;
}
#content_place{
    min-height: 600px;
    max-height: 600px;
    overflow: auto;
}