.middle, #main_screen table{
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
th{
    color: #5A5C69;
}
#prev{
    display: none;
}
#main_screen select{
    height: 30px;
    padding: 5px;
    border-radius: 2px;
}
.save_form{
    margin-top: 50px;
    text-align: center;
    /*position: fixed;*/
    bottom: 0%;
    left: 40%;
    right: 40%;
}
button.save{
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
    border: solid 1px #32343B;
    width: 80px;
    height: 40px;
    background: white;
}
button.save:hover{
    background: #32343B;
    color: white;
}

button.save:disabled{
    border: solid 1px #878787;
}
button.save:disabled:hover{
    border: solid 1px #878787;
    background: white;
    color: #878787;
}
#battlefield{
    max-height: calc(100% - 100px);
}
.accept, .delete{
    border-radius: 1px;
    border: none;
    width: 55px;
    float: right;
    margin-top: 12px;
    color: white;
}
.accept:hover, .delete:hover, button.save:hover, .add_new:hover{
    cursor: pointer;
}
.accept{
    background-color: #6085A3;
}
.accept:hover{
    background-color: #95B2C9;
}
.delete:disabled, .delete:disabled:hover{
    background-color: #B58D8D;
}
.delete{
    background-color: #C46A76;
}
.delete:hover{
    background-color: #E0A4A4;
}

table#table_header th{
    padding-left: 75px;
    padding-right: 50px;
}
button.add_new{
    bottom: 5%;
    right: 40%;
    left: 40%;
    text-align: center;
    background-color: white;
    border: solid 1px #32343B;
}
button.add_new:disabled, button.add_new:disabled:hover{
    border: solid 1px #878787;
    background-color: white;
    color: #878787;
}
button.add_new:hover{
    background-color: #32343B;
    color: white;
}
input{
    border: solid 1px #C4C4C4;
    border-radius: 4px;
}
input#template_name{
    letter-spacing: 1px;
    color: #7CA39A;
    width: 500px;
    height: 30px;
    font-size: 18px;
    padding: 6px;
}
td label, td select, td input, td textarea{
    display: block;
}
button.add_new{
    width: 50px;
    padding: 10px;
    font-size: 20px;
}
#main_screen td{
    padding: 6px;
}
.label_description textarea{
    width: 550px;
}
textarea{
    border: solid 1px #C4C4C4;
    padding: 8px;
    border-radius: 4px;
    resize: none;
}
td.preview{
    width: 250px;
}
.preview input, .preview label{
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}
.preview input[type="checkbox"]{
    zoom: 200%;
    padding: 20px;
    margin: 0;
    width: 15px;
    border: solid 1px #32343B;
    text-align: center;
}
label{
    font-size: 13px;
    color: #9FAAB5;
}

html, body {
    width: 100%;
    /*height: 100%;*/
    margin: 0;
    padding: 0;
}
#header {
    color: #FFFFFF;
    width: 100%;
    height: 50px;
    background: linear-gradient(to top, #000000, #3A393B);
    z-index: 0;
}

#content-wrapper {
    /*height: calc(100% - 100px);*/
    background: linear-gradient(to bottom, #3A393B, #696969 10%, #B7B6B8 100%, #B7B6B8 100%);
    padding: 50px 50px 0px 50px;
    z-index: 0;
}

#content {
    height: 90%;
    background: #FFFFFF
}
body {
    -webkit-font-smoothing: antialiased;
    font-family: 'Helvetica Neue', sans-serif;
    text-rendering: optimizeLegibility;
}
