#my_popup, #edit_popup{
    width: 368px;
    height: 419px;
    box-shadow: 0 0 30px #0d1857;
}
#my_popup, #edit_popup, button#edit_button, button#save_button, #my_popup button, #edit_popup button, ul button{
    border-radius: 3px;
}
textarea#edit_area,#popup_area{
    min-width: 345px;
}
#left_side img, #left_side_error img{
    width: 100px;
    height: 100px;
}
#message{
    font-size: 18px;
    max-width: 160px;
}
#right_side p{
    padding-top: 45px;
}
#left_side, #right_side, #right_side_error, #left_side_error{
    height: 150px;
}
#popup_ok table, #left_side img, #left_side_error img{
    margin-top: 25px;
}

#footer_list button, .textField, input.form_controls[type = "text"],.popup_area, #text_area_form_controls, .prev_element textarea, #edit_area, .textArea,#my_popup button, #edit_popup button{
    padding: 10px;
}
#footer{
    padding: 15px;
}
label{
    word-wrap: break-word;
}
textarea, input[type='text']{
    border-radius: 2px;
    border: solid 1px #A8A8A8;
}
#main_table button, #text_area_form_controls, .prev textarea, #my_popup button, #edit_popup button,button#my_popup_open, #footer_list button{
    outline: none;
}
#text_field_label{
    margin-left: 30px;
}
.textField, input.form_controls[type = "text"]{
    height: 32px;
}
input.form_controls[type = "text"], #text_area_form_controls{
    width: 192px;
}
input.form_controls[type = "checkbox"]{
    margin-right: 0;
}
#check_box_field_label, input.form_controls[type = "text"], #label_form_controls, #right_side, #right_side_error{
    float: right;
}
button#text_field, #check_box, #text_area, button.delete, #label,#left_side img, #left_side_error img{
    margin-left: 10px;
}
button#text_field, #check_box, #text_area, button.delete, button.edit_popup_open, #label{
    overflow: hidden;
    width: 26px;
    height: 26px;
}
.prev td input[type='text'],.textField, .textArea, .prev td textarea{
    width: 400px;
}
.prev td{
    text-align: left;
    max-width: 410px;
}
.edit_popup_open, .delete,#my_popup, #edit_popup, #popup_error, #popup_ok{
    display: none;
}
button#text_field, #check_box, #text_area, #label{
    background: transparent url("../images/templates/plus-icon.svg") no-repeat 0;
}
button#text_field:hover, #check_box:hover, #text_area:hover, #label:hover{
    background: transparent url("../images/templates/plus-icon-hover.svg") no-repeat 0;
}
button.delete{
    background: transparent url("../images/templates/delete.svg") no-repeat 0;
}
button.delete:hover{
    background: transparent url("../images/templates/delete-hover.svg") no-repeat 0;
}
button.edit_popup_open{
    background: transparent url("../images/templates/edit-icon.svg") no-repeat 0;
}
button.edit_popup_open:hover{
    background: transparent url("../images/templates/edit-icon-hover.svg") no-repeat 0;
}
button#save_button,button#add_to_form, button#accept{
    font-weight: bold;
    background-color: #34495e;
}
button#save_button:disabled, button#save_button:disabled:hover,button#edit_button:disabled, button#edit_button:disabled:hover{
    color: #EBEEF0;
}
button#save_button:hover, button#save_button:disabled, button#save_button:disabled:hover,button#add_to_form:hover, button#accept:hover, button#add_to_form:disabled, button#accept:disabled, button#add_to_form:disabled:hover, button#accept:disabled:hover,button#add_to_form:disabled:hover{
    background-color: #73808C;
}
button#save_button,button#edit_button{
    margin-right: 10px;
    margin-left: 10px;
}
button#edit_button{
    font-weight: bold;
    background: #806E59;
}
button#edit_button:disabled, button#edit_button:disabled:hover{
    background-color: #ADA295;
}
button#edit_button:hover{
    background-color: #A69179;
}
.popup_area, #text_area_form_controls, .prev_element textarea, #edit_area, .textArea{
    resize: none;
}
.popup_area:focus, #edit_area:focus,input#template_name[type='text']:focus{
    transition: all 0.3s;
}
#my_popup button:hover,button#edit_button:hover, button#save_button:hover, button.delete:hover, button.edit:hover,#edit_popup button:hover, .edit_popup_open:hover,button#text_field:hover, #check_box:hover, #text_area:hover, a:hover, a:active,.my_popup_open:hover{
    transition: background .2s;
    cursor: pointer;
}
#my_popup ul, #edit_popup ul{
    border-top: solid 1px #D7D7DB;
    border-radius:  0 0 3px 3px;
    padding-bottom: 11px;
}
.right_li{
    margin-right: 30px;
}
#left{
    background-color: #FAFAFA;
}
#left, #prev, #main_table th, #title{
    box-shadow: 0 0 2px #4F4F4F;
}
#left table td{
    max-width: 192px;
}
#left table td p{
    font-size: 14px;
    color: #808b96;
    margin-bottom: 35px;
}
#prev,#my_popup ul,#edit_popup ul{
    background-color: white;
}
.prev_element td{
    padding-bottom: 20px;
}
#my_popup button,#edit_popup button{
    margin-top: 4%;
}
button#edit_button,button#save_button{
    font-size: 15px;
    width: 95px;
}
button.my_popup_close,button.edit_popup_close,#my_popup button,#edit_popup button{
    font-size: 15px;
    width: 115px;
}
button.my_popup_close, button.edit_popup_close{
    font-weight: bold;
    border-radius: 8px;
    min-width: 60px;
    margin-left: 35px;
    background-color: #994343;
}
button.my_popup_close:hover, button.edit_popup_close:hover{
    background-color: #C97777;
}
button#my_popup_open/*, #footer_list button*/{
    text-align: right;
}
ul li,#my_popup ul, #edit_popup ul{
    list-style: none;
}
.prev_element input[type='text'], .prev_element textarea, .prev_element label, textarea{
    display: block;
}
.prev_element input[type='checkbox'], .prev_element label, ul li, #left_side, #right_side, #right_side_error, #left_side_error{
    display: inline;
}
#auto_scroll{
    height: 400px;
    overflow:auto;
}
.hd, #main_table,p.info{
    padding-bottom: 10px;
}
.hd{
    padding-top: 9%;
    height: 40px;
    border-bottom: solid 1px #D7D7DB;
    font-weight: bold;
    font-size: 18px;
    background-color: #023672;
}
.hd_main,#first_th,#second_th{
    height: 50px;
}
#first_th,#second_th{
    font-size: 20px;
}
.hd_main, .hd{
    border-radius: 2px 2px 0 0;
    text-transform: uppercase;
}
#main_table{
    border-spacing: 0;
    max-height: calc(100% - 200px);
}
#main_table th{
    background-color: #707070;
    padding: 1%;
}
#first_th{
    width: 20%;
    border-right: solid 1px white;
}
#second_th{
    width: 60%;
    min-width: 600px;
}
ul, .hd_main, .hd, .hd_main table, #my_popup ul, #edit_popup ul, #right_side p, #right_side_error p,button#save_button,button#edit_button{
    text-align: center;
}
.inputTable{
    margin-top: 2%;
    margin-bottom: 10%;
}
p.info{
    text-align: justify;
    font-size: 14px;
    color: #65707b;
}
label{
    font-size: 13px;
    color: #9FAAB5;
}
button#add_to_form, button#accept,button#text_field, #check_box, #text_area, button.delete, button.edit_popup_open, #label,button#edit_button, button#save_button, button.my_popup_close, button.edit_popup_close{
    border: none;
}
#content1 {
    padding: 5px 2px 6px 1px;
    height: 95%;
    background: #FFFFFF
}
.hd_main, .hd, #my_popup button, #edit_popup button, button#edit_button, button#save_button,#main_table th{
    color: white;
}
input#template_name,#main_screen table{
    margin-top: 0;
}
input#template_name{
    margin-bottom: 10px;
    font-family: 'Calibri', serif;
    letter-spacing: 2px;
    color: #414252;
    width: 500px;
    height: 35px;
    font-size: 19px;
    padding: 6px;
}
#title{
    padding: 4px;
    margin: 0;
}
#title, #main_table, #main_screen, .hd_main, .hd{
    width: 100%;
}
#main_screen table{
    margin-top: 0;
    padding-left: 6px;
    padding-right: 6px;
    margin-left: auto;
    margin-right: auto;
}
.middle, #popup_ok table,.inputTable{
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
}