#title_banner p{
    font-size: 24px;
    margin: 5px;
    color: #ACADAD;
}
#title_banner p,.hd{
    font-weight: bold;
}
label{
    font-size: 13px;
    color: #9FAAB5;
}
.inputTable{
    margin: 10px auto 0  auto;
}
tbody, #title_banner, #content,.hd, ul, #edit_popup ul, #right_side p, #right_side_error p{
    text-align: center;
}
#content, #popup_ok table, #popup_error{
    margin-left: auto;
    margin-right: auto;
}
#content_place{
    min-height: 600px;
    background-color: #FAFAFA;
}
#content_place, #title_banner{
    margin: 0 8px;
    padding: 4px;
    box-shadow: 0 0 2px #4F4F4F;
}
.del{
    width: 28px;
    height: 32px;
    background: transparent url("../images/Delete.svg") no-repeat 0;
}
.del:hover{
    background: transparent url("../images/Delete-hover.svg") no-repeat 0;
}
.edit, #edit_popup button, .del, button#accept{
    border: none;
    outline: none;
}
.edit{
    margin-right: 5px;
    width: 32px;
    height: 32px;
    background: transparent url("../images/users/edit-icon-new-orange-hover.svg") no-repeat 0;
}
.edit:hover{
    background: transparent url("../images/users/edit-icon-new-orange.svg") no-repeat 0;
}
#edit_popup, ul button{
    border-radius: 3px;
}
#edit_popup{
    width: 400px;
    height: 450px;
    box-shadow: 0 0 30px #0d1857;
}
#edit_popup button:hover, .edit:hover, .del:hover{
    transition: background .2s;
    cursor: pointer;
}
#edit_popup ul{
    list-style: none;
    border-top: solid 1px #D7D7DB;
    border-radius:  0 0 3px 3px;
    padding-bottom: 11px;
    background-color: white;
}
#edit_popup button{
    margin-top: 4%;
    padding: 10px;
}
.hd, #edit_popup button{
    color: white;
}
.hd{
    width: 100%;
    border-radius: 2px 2px 0 0;
    text-transform: uppercase;
    padding-top: 9%;
    height: 40px;
    border-bottom: solid 1px #D7D7DB;
    padding-bottom: 10px;
    font-size: 18px;
    background-color: #023672;
}
button.edit_popup_close{
    margin-left: 25px;
    border: solid 1px;
    background-color: #994343;
}
button.edit_popup_close:hover{
    background-color: #C97777;
}
.right_li{
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 15px;
}
button.edit_popup_close, button#accept{
    font-weight: 600;
    width: 85px;
    font-size: 16px;
}
button#accept{
    margin-left: 10px;
    background: rgba(23, 85, 133, 0.85);
}
button#accept:hover, button#accept:disabled, button#accept:disabled:hover{
    background-color: rgba(21, 71, 114, 0.62);
}
ul li, .role, #label, #left_side, #right_side, #right_side_error, #left_side_error{
    display: inline;
}
.inputTable td, #role{
    padding: 5px;
}
.w{
    width: 24px;
}
.warn, .check{
    margin-top: 15px;
    width: 22px;
    height: 22px;
}
.warn, #edit_popup, .dataTables_length{
    display: none;
}
#email, #number, .inline, #for_name, #name{
    display: block;
}
#label, #right_side, #right_side_error{
    float: right;
}
#label{
    margin-top: 21px;
}
#role, #left_side, #left_side_error{
    float: left;
}
#role{
    margin-top: 22px;
}
/*{
    width: 230px;
}*/
input#role{
    width: auto;
    height: auto;
}
input, .role{
    height: 30px;
}
#popup_ok,p#info, input[type='email'],input#name,input#number{
    min-width: 300px;
    max-width: 300px;
}
input {
    font-size: 14px;
    padding: 5px 10px 5px 10px;
    border: 1px solid #AAAAB3;
}
label{
    text-align: left;
}

input, input:focus {
    border-radius: 2px;
}
td.info,p#info{
    min-height: 35px;
}
p#info{
    font-size: 14px;
    margin-left: 35px;
    text-align: justify;
    color: #838585;
}